<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>People</key>
	<array>
		<dict>
			<key>id</key>
			<string>100</string>
			<key>name</key>
			<string>Grinning Face</string>
			<key>known as</key>
			<string>Smiley Face,Happy Face</string>
			<key>emoji</key>
			<string>😄</string>
			<key>sound</key>
			<string>Grinning Face.wav</string>
		</dict>
		<dict>
			<key>id</key>
			<string>101</string>
			<key>name</key>
			<string>Grinning Face With Smiling Eyes</string>
			<key>known as</key>
			<string>Frustrated, Freezing, Cold</string>
			<key>emoji</key>
			<string>😁</string>
			<key>sound</key>
			<string>Grinning Face With Smiling Eyes.wav</string>
		</dict>
		<dict>
			<key>id</key>
			<string>102</string>
			<key>name</key>
			<string>Face With Tears Of Joy</string>
			<key>known as</key>
			<string>Laughing, Laughing Crying, Happy Tears,Laughing Tears,LOL</string>
			<key>emoji</key>
			<string>😂</string>
			<key>sound</key>
			<string>Face With Tears Of Joy.wav</string>
		</dict>
		<dict>
			<key>id</key>
			<string>103</string>
			<key>name</key>
			<string>Smiling Face With Open Mouth</string>
			<key>known as</key>
			<string>Happy,Happy Face,Smiley Face,Grinning Face</string>
			<key>emoji</key>
			<string>😃</string>
			<key>sound</key>
			<string>Face With Tears Of Joy.wav</string>
		</dict>
		<dict>
			<key>id</key>
			<string>104</string>
			<key>name</key>
			<string>Smiling Face With Open Mouth And Smiling Eyes</string>
			<key>known as</key>
			<string>Smiley Face,Grinning Face,Happy Face</string>
			<key>emoji</key>
			<string>😄</string>
			<key>sound</key>
			<string>Face With Tears Of Joy.wav</string>
		</dict>
	</array>
</dict>
</plist>
